{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">Congratulations Habtu for your first amiche2020 website!!</h1>
    <h1>You have successfully deployed your amiche2020 web application using automated CI/CD.</h1>
    <BR>
    <h2 style="text-align: center;">Jenkins - AWS CodeBuild - AWS CodeDeploy - Habtu Wedi Asmara</h2>
    
        <h2 style="text-align: center;">Menge</h2> <a href="https://aws.amazon.com/blogs/devops/building-a-ci-cd-pipeline-for-cross-account-deployment-of-an-aws-lambda-api-with-the-serverless-framework">Menge</h2>
    <h2 style="text-align: center;">Senait</h2> <a href="https://aws.amazon.com/blogs/big-data/anonymize-and-manage-data-in-your-data-lake-with-amazon-athena-and-aws-lake-formation">Seni</a>
    <h2 style="text-align: center;">habtu</h2> <a href="https://aws.amazon.com/blogs/devops/building-a-ci-cd-pipeline-for-multi-region-deployment-with-aws-codepipeline">Habtu</a>
    <h2 style="text-align: center;">habtu</h2> <a href="https://aws.amazon.com/blogs/devops/building-and-testing-ios-and-ipados-apps-with-aws-devops-and-mobile-services">Habtu2</a>
        <h2 style="text-align: center;">Solomon</h2> <a href="https://aws.amazon.com/blogs/infrastructure-and-automation/using-aws-cloudformation-to-deploy-software-into-amazon-eks-clusters">Solo</a>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>
